[submodule "examples/OTALearning"]
	path = examples/OTALearning
	url = https://github.com/Leslieaj/OTALearning.git
[submodule "examples/DOTALearningSMT"]
	path = examples/DOTALearningSMT
	url = https://github.com/Leslieaj/DOTALearningSMT.git
